<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bjsxt.mapper.CarMapper">

	<update id="changeFlagByNumber" parameterType="java.util.Map">
		update car set isrenting=#{flag} where number=#{carNumber}
	</update>

	<select id="findCarByNumber" resultType="cn.bjsxt.pojo.Car">
		select carid, number, type, brand, color, price, rentprice, deposit, isrenting, img, description
		from car where number=#{0}
	</select>

	<!-- 将汽车修改成出租状态 -->
	<update id="updateRentFlag" parameterType="int">
		update car set isrenting='1' where carid=#{0}
	</update>
	<!-- 将汽车修改成未出租状态 -->
	<update id="updateRentFlagByNo" >
		update car set isrenting='0' where number=#{0}
	</update>

	<!-- 查找到所有的汽车 -->
	<select id="findAllCars" resultType="cn.bjsxt.pojo.Car">
		select carid, number, type, brand, color, price, rentprice, deposit, isrenting, img, description
		from car
	</select>
	
	<!-- 通过不同车型查找汽车 -->
	<select id="findCarByType" resultType="cn.bjsxt.pojo.Car">
		select carid, number, type, brand, color, price, rentprice, deposit, isrenting, img, description
		from car where type=#{0}
	</select>
	<!-- 通过不同品牌查找汽车 -->
	<select id="findCarByBrand" resultType="cn.bjsxt.pojo.Car">
		select carid, number, type, brand, color, price, rentprice, deposit, isrenting, img, description
		from car where brand=#{0}
	</select>
	<!-- 通过不同价格查找汽车 -->
	<select id="findCarsByPrice" resultType="cn.bjsxt.pojo.Car">
		select carid, number, type, brand, color, price, rentprice, deposit, isrenting, img, description
		from car
		<where>
			<if test="lowRentPrice!=null" >
				and <![CDATA[ rentprice >= ]]>  #{lowRentPrice}
			</if>
			<if test="highRentPrice!=null" >
				and <![CDATA[ rentprice <= ]]>  #{highRentPrice}
			</if>
		</where>
	</select>
	
	<!-- 查找所有汽车的车型，不重复 -->
	<select id="selectCarsType" resultType="cn.bjsxt.pojo.Car">
		select distinct(type) from car
	</select>
	<!-- 查找所有汽车的品牌，不重复 -->
	<select id="selectCarsBrand" resultType="cn.bjsxt.pojo.Car">
		select distinct(brand) from car
	</select>

	<insert id="addCar" parameterType="cn.bjsxt.pojo.Car" >
		insert into car(number, type, brand, color, price, rentprice, deposit, isrenting, img, description)
		values(#{number}, #{type}, #{brand}, #{color}, #{price}, #{rentprice}, #{deposit}, #{isrenting}, #{img}, #{description})
	</insert>
	
	<update id="updateCar" parameterType="cn.bjsxt.pojo.Car" >
		update car
		<set>
			<if test="number!=null" >
				number=#{number},
			</if>
			<if test="brand!=null" >
				brand=#{brand},
			</if>
			<if test="type!=null" >
				type=#{type},
			</if>
			<if test="color!=null" >
				color=#{color},
			</if>
			<if test="price!=null" >
				price=#{price},
			</if>
			<if test="rentprice!=null" >
				rentprice=#{rentprice},
			</if>
			<if test="deposit!=null" >
				deposit=#{deposit},
			</if>
			<if test="isrenting!=null" >
				isrenting=#{isrenting},
			</if>
			<if test="img!=null" >
				img=#{img},
			</if>
			<if test="description!=null" >
				description=#{description}
			</if>
			where carid=#{carid}
		</set>
	</update>
	
	<delete id="deleteCarById" parameterType="int">
		delete from car where carid=#{carId}
	</delete>
	
	<select id="selectCarById" resultType="cn.bjsxt.pojo.Car" >
		select carid, number, type, brand, color, price, rentprice, deposit, isrenting, img, description
		from car where carid=#{0}
	</select>
	   
	<select id="selectCar" resultType="cn.bjsxt.pojo.Car" >
		select carid, number, type, brand,color, price, rentprice, deposit, isrenting, img, description
		from car
		<where>
			<if test="number!=null" >
				number like CONCAT (CONCAT('%',#{number}),'%')
			</if>
			<if test="type!=null" >
				and type like CONCAT (CONCAT('%',#{type}),'%')
			</if>
			<if test="lowPrice!=null" >
				and <![CDATA[ price >= ]]>  #{lowPrice}
			</if>
			<if test="highPrice!=null" >
				and <![CDATA[ price <= ]]>  #{highPrice}
			</if>
			<if test="lowRentPrice!=null" >
				and <![CDATA[ rentprice >= ]]>  #{lowRentPrice}
			</if>
			<if test="highRentPrice!=null" >
				and <![CDATA[ rentprice <= ]]>  #{highRentPrice}
			</if>
			<if test="isrenting!=null" >
				and isrenting = #{isrenting}
			</if>
		</where>
	</select>
</mapper>